@font-face {
    font-family: "Audiowide";
    src: url("./font/Audiowide-Regular.ttf");
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#startScreen {
    background-image: url("./img/startScreen.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#logo {
    width: 50%;
    padding: 3%;
    height: auto;
}

#buttonBox {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 74%;
    top: -16%;
}

#allSettings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-size: 2rem;
}

#startBtn {
    width: 20%;
    animation: press 2s ease-in-out 0s infinite;
    cursor: pointer;
}
#settingBtn {
    width: 12%;
    padding-top: 1%;
    padding-left: 4%;
    cursor: pointer;
}

#settingsScreen {
    background-image: url("./img/startScreen.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: none;
    position: relative;
}

#settingsUI {
    position: absolute;
    right: 5%;
    top: 15%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: white;
    font-family: Arial, sans-serif;
}

#backBtn {
    position: absolute;
    top: -60px;
    right: 0;
    font-size: 18px;
    cursor: pointer;
}

.settingRow {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon {
    width: 45px;
    height: 45px;
    background: #00e5ff57;
    border: 2px solid #00e5ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
}

.label {
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Audiowide', sans-serif;
}

.delete {
    color: red;
    cursor: pointer;
    font-family: 'Audiowide', sans-serif;
}


#setupScreen {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
        url("./img/setupScreen.png");
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    font-family: 'Audiowide', sans-serif;
}

#setupUI {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    pointer-events: auto;
}

#roboter {
    position: absolute;
    top: 20%;
    left: 23%;
    width: 15%;
}

#nameInput {
    width: 300px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.9);
    border: 2px solid #00e5ff;
    color: #00e5ff;
    font-family: 'Audiowide', sans-serif;
    font-size: 14px;
    outline: none;
    box-shadow: 0 0 10px #00e5ff;
    text-align: center;
    text-transform: uppercase;
}

#inputRow {
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#acceptBtn {
    width: 324px;
    padding: 10px;
    background: transparent;
    border: 2px solid #00e5ff;
    color: #00e5ff;
    font-family: 'Audiowide', sans-serif;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 0 10px #00e5ff;
    transition: 0.2s;
}

#acceptBtn:hover {
    background: #00e5ff;
    color: black;
}

/* W3 Schools */
#nameInput:focus {
    box-shadow: 
        0 0 15px #00e5ff,
        0 0 30px #00e5ff;
}

input[type="checkbox"] {
    transform: scale(1.2);
    margin-left: 10px;
}

#rucksack {
    width: 60%;
}

#levelOne {
    background-image: url("./img/levelOne.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    width: 100%;
    margin: 0 auto;
    transform-origin: top;
}

#player {
  position: absolute;
  left: 200px;
  top: 100px;
  width: 58px; /* viewing window */
  height: 150px; /* viewing window */
  overflow: hidden;
  opacity: 1;
}
#spriteImg {
  position: absolute;
  top: 0;
  left: 0;
  height: 150px;
}

@keyframes press {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1.0);
    }
}

#hud {
    position: absolute;
    top: 25px;
    left: 20px;
    right: 12px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    pointer-events: none;
}

#hpContainer {
    display: flex;
    align-items: center;
    gap: 12px;
}

#hpBarOuter {
    width: 300px;
    height: 23px;
    background: rgba(0, 0, 0, 0.6);
}

#hpBarInner {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #5fffff, #27B9C4);
    box-shadow: 0 0 10px #27B9C4;
}

#hpText {
    color: #00e5ff;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Audiowide', sans-serif;
}

#levelBoxLeft {
    width: 44px;
    height: 44px;
    border: 1px solid #00e5ff;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00e5ff;
    font-weight: bold;
    box-shadow: 0 0 8px #00e5ff;
    font-family: 'Audiowide', sans-serif;
}

#levelBoxRight {
    position: absolute;
    bottom: 25px;
    right: 20px;
    width: 44px;
    height: 44px;
    border: 1px solid #ff5005;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: 0 0 8px #ff5005;
    transition: 0.7s;
}

#levelBoxRight:hover {
    background-color:#ff5005;
    cursor: pointer;
}

#inventoryOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#inventoryUI {
    background: rgba(0, 0, 0, 0.9);
    border: 2px solid #ff5005;
    color: #ff5005;
    padding: 20px;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#backBtnInventory {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Audiowide', sans-serif;
    transition: 0.3s;
}

#backBtnInventory:hover {
    color: #00e5ff;
}

#nothingFound {
    font-size: 18px;
    font-family: 'Audiowide', cursive;
}

#solutionCircle {
    position: absolute;
    display: flex;
    top: 85%;
    left: 48%;
    width: 50px;
    height: 50px;
    background-color: #00e5ff89;
    border-radius: 50%;
    box-shadow: 0 0 8px #00e5ff;
    animation: show 2s ease-in-out 0s infinite;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Audiowide', bold;
    font-size: 35px;
}

@keyframes show {
    0% {
        background-color: #00e5ff89;
    }
    50% {
        background-color: #00e5ff;
    }
    100% {
        background-color: #00e5ff89;
    }
}

#solutionBoard {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
}

#solutionUI {
    background: rgba(0, 0, 0, 0.9);
    border: 2px solid #00e5ff;
    color: #00e5ff;
    padding: 20px;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    position: relative;
}

#backBtnSolution {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Audiowide', sans-serif;
    transition: 0.3s;
}

#backBtnSolution:hover {
    color: #ff5005;
}

#solutionText {
    font-size: 18px;
    font-family: 'Audiowide', cursive;
    top: 3%;
}